<header>

	<h1>John Elrod</h1>
	<h2>A software developer of the web variety</h2>
	<h3>Est Sularus Oth Mithas</h3>



	<nav>
		<ul class="nav nav-pills">
			<li class="active"><a href="#">Brief Bio</a></li>
			<li><a href="#">Resume</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Fiddles</a></li>
			<li><a href="#">Favorites</a></li>
			<li><a href="#">This sites notes</a></li>
		</ul>
	</nav>

</header>

<article style="background:#ff0;">
<div class="row">
<div class="span2">test</div>
<div class="span2">test</div>
<div class="span2 offset2">test</div> 
</div>
</article>



<article>
	<h1>Brief Bio</h1>
	<p>I have been working as a software developer 1998. Since then, I have worked with a number of technologies in the Microsoft stack. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</article>


<article>
	<h1>Brief Bio</h1>
	<p>I have been working as a software developer 1998. Since then, I have worked with a number of technologies in the Microsoft stack. blah bvlahb lah</p>
</article>
<div>
<b>Tagged Words</b>
ASP
.NET
C#
VB
MVC
jQuery
Javascript
Html
Testing
Agile
Scrum
SQL


</div>

<div>Past Clients</div>

<div>Find me</div>


<div>Fiddles</div>


<div>This sites notes
<pre>
- resume should always be visible immediately.
- who i am and what i do should be visible immediately
- include favorite
... articles, blogs, web tools, app tools, web resources (icons, stock photo, code snippets, etc)
- explain the technologies used in this site (html5, css3, mvc 4, .net4.5). make sure you use each technology and give example. Rmember that this site is a portfolio of what I can do.
- allow this site's code to be downloaded from zip or github
</pre>

</div>

<footer>

2013 John Elrod - @@deftoneYo<br />
validate html5
</footer>